<div class="container">
  <div class="col-md-12">
    <div class="form-area">
        <form role="form"><br style="clear:both">
          <h3 style="margin-bottom: 25px; text-align: center;">Bug Fix Attempt</h3>

          <div class="form-group">

            <textarea class="fixForm"
                      type="textarea" id="message"
                      placeholder="Code" rows="7"
                      ng-model="detailsCtrl.newFixAttempt.code"></textarea>

          </div>

          <div class="form-group">
             <textarea class="fixForm"
                       type="textarea" id="message"
                       placeholder="Notes" rows="7"
                       ng-model="detailsCtrl.newFixAttempt.notes"></textarea>
          </div>

          <div class="form-group">
             <textarea class="fixForm"
                       type="textarea" id="message"
                       placeholder="Source" rows="7"
                       ng-model="detailsCtrl.newFixAttempt.sources"></textarea>
          </div>

          <button type="button" id="submit"
                  name="submit" class="btn btn-primary pull-right"
                  ng-click="detailsCtrl.addFixAttempt()">Submit Bug Attempt</button>
      </form>
    </div>



        <div class="row" ng-repeat="fix in detailsCtrl.fixAttempts">
        <pre class="language-javascript"><code class="language-javascript" prism>
          {{fix.code}}
         </code></pre>
        </div>

      <!-- <p>notes: {{fix.notes}}</p> -->
      <!-- <p>sources: {{fix.sources}}</p> -->
    <!-- </div> -->

    <div>
      <!-- <em ng-if="!(fixAttempts).length">There are no Fix attempts</em> -->
    </div>
  </div>
</div>

