.form-group{
  margin-top: 30px;
}

.av-bug-container {
  margin: 1em 0;
  border: 1px solid #777777;
  padding: 1em;
}

.av-bug-container .av-bugs {
  margin-bottom: 2em;
}

.av-bug-container .av-bugs:last-child {
  margin-bottom: 0;
}

.av-bug-container .av-bugs av-bug {
  border-radius: 2px;
  border: 1px solid #ccc;
  display: block;
  padding: .25em .5em;
  margin-bottom: .5em;
}

.av-bug-container .av-bugs av-bug em {
  color: #aaa;
  margin-left: 1em;
}

.av-bug-container .av-bugs av-bug:last-child {
  margin-bottom: 0;
}


.footer {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.red {
  color:red;
  }

.form-area {
  background-color: #FAFAFA;
  padding: 10px 40px 60px;
  margin: 10px 0px 60px;
  border: 1px solid GREY;
}

.fixForm{
    width: 100%;
    height: 10em;
    padding: 1em;
    box-sizing: border-box;
    margin: .5em 0;
    background: #f5f2f0;
    color: black;
    text-shadow: 0 1px white;
    tab-size: 4;
    font: 100% Consolas, Monaco, monospace;
    white-space: pre;
    word-wrap: normal;
}